*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    font-family: 'Rochester', cursive;
    color: white;
}

.landing{
    background-image: url("2.jfif");
    height: 100vh;
    background-size: cover;
    padding: 0rem 5rem;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    padding-left: 10rem;
    font-size: 2rem;
    cursor: pointer;
}

.logo{
    font-weight: lighter;
    font-size: 2.5rem;
    cursor: pointer;
}

.big-text{
    position: absolute;
    top: 83%;
    left: 31%;
    transform: translateY(-31% , -83%);
    font-size: 5rem;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background-image: url("3.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-size: 100% 100%;

}


.intro-text{
    color: rgb(227, 230, 231);
    font-family: 'Philosopher', sans-serif;
    font-size: 2.5rem;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    display: inline-block;
    transform: translateY(100%);
}

@media screen and (max-width: 990px) {
 
    .logo{
        font-size: 2rem;
    }
    .nav-links li{
        padding-left: 5rem;
        font-size: 1.5rem;
    }
    .big-text{
        font-size: 2rem;
    }
    .landing{
        background-size: 100% 100%;
    }

  }

  @media screen and (max-width: 625px) {
 
    .logo{
        font-size: 1.3rem;
    }
    .nav-links li{
        padding-left: 2rem;
        font-size: 1rem;
    }
    .big-text{
        font-size: 1.5rem;
    }
    .landing{
        padding: 0rem 2rem;
        background-size: 100% 100%;
    }
    .intro-text{
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 364px) {
 

    .nav-links li{
        padding-left: 1.5rem;
    }
    .landing{
        padding: 0rem 2rem;
        background-size: 100% 100%;
    }
    .big-text{
        font-size: 1rem;
    }
  
  }
  @media screen and (max-width: 300px) {
 

    .nav-links li{
        padding-left: 1rem;
    }
    .landing{
        padding: 0rem 1rem;
    }
  
  }